<p>
  new-map works!
</p>
<!--
<ul *ngFor="let address of address">
  <li>{{address.street}}</li>
  <ul>
    <li>{{address.town}}</li>
    <li>{{address.county}}</li>
    <li>{{address.postcode}}</li>
    <li>Lat: {{address.latitude}}</li>
    <li>Lng: {{address.longitude}}</li>
  </ul>
</ul>-->


<div *ngFor="let user of user">
  <h1> {{user.name}}</h1>
<ul>
  <li>{{user.address.street}}</li>
  <ul>
    <li>{{user.address.town}}</li>
    <li>{{user.address.county}}</li>
    <li>{{user.address.postcode}}</li>
    <li>Lat: {{user.address.latitude}}</li>
    <li>Lng: {{user.address.longitude}}</li>
  </ul>
</ul>
</div>
